/* Main Css Start */
:root {
	--on-surface: #121212;
	--secondary: #64666c;
	--line: #e5e5e5;
	--background: #f5f5f5;
	--surface: #f5f5f2;
	--blue: #2868d8;
	--critical: #eb4d4d;
	--success: #37cc8e;
	--primary: #2ed197;
	--orange: #ea603f;
	--white: #ffffff;
	--deep-purple: #15143b;
	--gradient: #5d47e2;
	--dark: #0f1e37;
	--grey: #3f4b5f;
	--dark-blue: #173363;
	--dark-purple: #130e38;
	--placehover: #b1b1b1;
	--yellow: #f2c94c;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	color: var(--on-surface);
	line-height: 26px;
	scroll-behavior: smooth;
}

#content {
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

html {
	line-height: 1; /* 1 */
}

body {
	margin: 0;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 6px;
	border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
	margin: 0;
	padding: 0;
}

hr {
	box-sizing: content-box; /* 1 */
	height: 1; /* 1 */
	overflow: visible; /* 2 */
}

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

li {
	list-style: none;
}

a {
	background-color: transparent;
	color: var(--on-surface);
	text-decoration: none;
}

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
}

button {
	cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

button,
input {
	/* 1 */
	overflow: visible;
}

input {
	outline: none;
	border: 1px solid transparent;
}
input:focus {
	border: 1px solid var(--blue);
}

button,
select {
	/* 1 */
	text-transform: none;
}

button:focus,
select:focus {
	outline: 0;
	box-shadow: none;
}

input:focus {
	outline: 0;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type='checkbox'],
[type='radio'] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	outline-offset: -2px; /* 2 */
}

[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

.container {
	max-width: 1322px;
	width: 100%;
	padding-right: 16px;
	padding-left: 16px;
	margin-right: auto;
	margin-left: auto;
}
@media (max-width: 1199.98px) {
	.container {
		padding-left: 16px;
		padding-right: 16px;
	}
}

.icon-on-surface::before {
	color: var(--on-surface);
}

.icon-gradient::before {
	color: var(--gradient);
}

.icon-white::before {
	color: var(--white);
}

.select-arrow-none select {
	-webkit-appearance: none;
	outline: none;
	border: 1px solid transparent;
}
.select-arrow-none select:focus {
	border: 1px solid var(--blue);
}

.col-xl-2-5 {
	flex: 0 0 20%;
	max-width: 20%;
}

.text-on-surface {
	color: var(--on-surface);
}

.text-secondary {
	color: var(--secondary);
}

.text-line {
	color: var(--line);
}

.text-surface {
	color: var(--surface);
}

.text-blue {
	color: var(--blue);
}

.text-critical {
	color: var(--critical);
}

.text-orange {
	color: var(--orange);
}

.text-gradient {
	color: var(--gradient);
}

.text-white {
	color: var(--white);
}

.text-placehover {
	color: var(--placehover);
}

.text-yellow {
	color: var(--yellow);
}

.text-deep-purple {
	color: var(--deep-purple);
}

.bg-placehover {
	background-color: var(--placehover);
}

.bg-on-surface {
	background-color: var(--blue);
}

.bg-transparent {
	background-color: transparent;
}

.bg-line {
	background-color: var(--line);
}

.bg-background {
	background-color: var(--background);
}

.bg-surface {
	background-color: var(--surface);
}

.bg-blue {
	background-color: var(--blue);
}

.bg-success {
	background-color: var(--success);
}

.bg-orange {
	background-color: var(--orange);
}

.bg-white {
	background-color: var(--white);
}

.bg-deep-purple {
	background-color: var(--deep-purple);
}

.bg-gradient {
	background-color: var(--gradient);
}

.bg-gradient-blue {
	background: linear-gradient(136deg, #5473dc 0%, #8bf7ff 100%);
}

.bg-dark {
	background-color: var(--dark);
}

.bg-dark-blue {
	background-color: var(--dark-blue);
}

.bg-dark-purple {
	background-color: var(--dark-purple);
}

.bg-grey {
	background-color: var(--grey);
}

.heading1 {
	font-size: 80px;
	font-weight: 700;
	line-height: 88px;
	text-transform: capitalize;
}

.heading2 {
	font-size: 56px;
	font-weight: 700;
	line-height: 68px;
	text-transform: capitalize;
}

.heading3 {
	font-size: 44px;
	font-weight: 700;
	line-height: 50px;
	text-transform: capitalize;
}

.heading4 {
	font-size: 36px;
	font-weight: 700;
	line-height: 44px;
	text-transform: capitalize;
}

.heading5 {
	font-size: 30px;
	font-weight: 700;
	line-height: 42px;
	text-transform: capitalize;
}

.heading6 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: capitalize;
}

.heading7 {
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
	text-transform: capitalize;
}

.body1 {
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
}

.body2 {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
}

.body3 {
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.text-button {
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
	text-transform: capitalize;
}

.text-button-small {
	font-size: 14px;
	font-weight: 600;
	line-height: 22px;
	text-transform: capitalize;
}

.text-button-uppercase {
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
}

.text-sub-title {
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	text-transform: uppercase;
}

.text-sub-heading2 {
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 2.8px;
	text-transform: uppercase;
}

.caption1 {
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}

.caption2 {
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
}

.fs-60 {
	font-size: 60px;
}

.fs-52 {
	font-size: 52px;
}

.fs-48 {
	font-size: 48px;
}

.fs-42 {
	font-size: 42px;
}

.fs-36 {
	font-size: 36px;
}

.fs-32 {
	font-size: 32px;
}

.fs-28 {
	font-size: 28px;
}

.fs-24 {
	font-size: 24px;
}

.fs-20 {
	font-size: 20px;
}

.fs-18 {
	font-size: 18px;
}

.fs-14 {
	font-size: 14px;
}

.fs-12 {
	font-size: 12px;
}

.fs-10 {
	font-size: 10px;
}

.fw-700 {
	font-weight: 700;
}

.fw-600 {
	font-weight: 600;
}

.fw-500 {
	font-weight: 500;
}

.fw-400 {
	font-weight: 400;
}

.pb-100 {
	padding-bottom: 100px;
}

.pb-80 {
	padding-bottom: 80px;
}

.pb-70 {
	padding-bottom: 70px;
}

.pb-60 {
	padding-bottom: 60px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pb-36 {
	padding-bottom: 36px;
}

.pb-32 {
	padding-bottom: 32px;
}

.pb-24 {
	padding-bottom: 24px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pb-16 {
	padding-bottom: 16px;
}

.pb-14 {
	padding-bottom: 14px;
}

.pb-12 {
	padding-bottom: 12px;
}

.pb-8 {
	padding-bottom: 8px;
}

.pb-4 {
	padding-bottom: 4px !important;
}

.pt-100 {
	padding-top: 100px;
}

.pt-80 {
	padding-top: 80px;
}

.pt-70 {
	padding-top: 70px;
}

.pt-60 {
	padding-top: 60px;
}

.pt-40 {
	padding-top: 40px;
}

.pt-36 {
	padding-top: 36px;
}

.pt-32 {
	padding-top: 32px;
}

.pt-24 {
	padding-top: 24px;
}

.pt-20 {
	padding-top: 20px;
}

.pt-16 {
	padding-top: 16px;
}

.pt-14 {
	padding-top: 14px;
}

.pt-12 {
	padding-top: 12px;
}

.pt-8 {
	padding-top: 8px;
}

.pt-4 {
	padding-top: 4px !important;
}

.mt-100 {
	margin-top: 100px;
}

.mt-80 {
	margin-top: 80px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-32 {
	margin-top: 32px;
}

.mt-24 {
	margin-top: 24px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-16 {
	margin-top: 16px;
}

.mt-12 {
	margin-top: 12px;
}

.mt-8 {
	margin-top: 8px;
}

.mt-4 {
	margin-top: 4px !important;
}

.mb-32 {
	margin-bottom: 32px;
}

.mb-24 {
	margin-bottom: 24px;
}

.mb-16 {
	margin-bottom: 16px;
}

.mb-12 {
	margin-bottom: 12px;
}

.mb-8 {
	margin-bottom: 8px;
}

.mb-4 {
	margin-bottom: 4px !important;
}

.mb-minus-1 {
	margin-bottom: -1px;
}

.ml-40 {
	margin-left: 40px;
}

.ml-28 {
	margin-left: 28px;
}

.ml-24 {
	margin-left: 24px;
}

.ml-16 {
	margin-left: 16px;
}

.ml-12 {
	margin-left: 12px;
}

.ml-8 {
	margin-left: 8px;
}

.ml-4 {
	margin-left: 4px !important;
}

.ml-2 {
	margin-left: 2px !important;
}

.pl-100 {
	padding-left: 100px;
}

.pl-70 {
	padding-left: 70px;
}

.pl-64 {
	padding-left: 64px;
}

.pl-55 {
	padding-left: 55px;
}

.pl-40 {
	padding-left: 40px;
}

.pl-36 {
	padding-left: 36px;
}

.pl-32 {
	padding-left: 32px;
}

.pl-28 {
	padding-left: 28px;
}

.pl-24 {
	padding-left: 24px;
}

.pl-20 {
	padding-left: 20px;
}

.pl-16 {
	padding-left: 16px;
}

.pl-12 {
	padding-left: 12px;
}

.pl-9 {
	padding-left: 9px;
}

.pl-8 {
	padding-left: 8px;
}

.pl-4 {
	padding-left: 4px !important;
}

.pr-80 {
	padding-right: 80px;
}

.pr-64 {
	padding-right: 64px;
}

.pr-55 {
	padding-right: 55px;
}

.pr-40 {
	padding-right: 40px;
}

.pr-36 {
	padding-right: 36px;
}

.pr-32 {
	padding-right: 32px;
}

.pr-28 {
	padding-right: 28px;
}

.pr-24 {
	padding-right: 24px;
}

.pr-20 {
	padding-right: 20px;
}

.pr-16 {
	padding-right: 16px;
}

.pr-12 {
	padding-right: 12px;
}

.pr-8 {
	padding-right: 8px;
}

.pr-4 {
	padding-right: 4px !important;
}

.p-40 {
	padding: 40px;
}

.p-36 {
	padding: 36px;
}

.p-32 {
	padding: 32px;
}

.p-28 {
	padding: 28px;
}

.p-24 {
	padding: 24px;
}

.p-16 {
	padding: 16px;
}

.p-14 {
	padding: 14px;
}

.p-12 {
	padding: 12px;
}

.p-8 {
	padding: 8px;
}

.p-4 {
	padding: 4px !important;
}

.hidden {
	visibility: hidden;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-item-center {
	display: flex;
	align-items: center;
}

.flex-columns-item-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-columns-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flex-columns-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.item-start {
	align-items: flex-start;
}

.d-flex {
	display: flex;
}

.row-gap-60 {
	row-gap: 60px;
}

.row-gap-40 {
	row-gap: 40px;
}

.row-gap-32 {
	row-gap: 32px;
}

.row-gap-24 {
	row-gap: 24px;
}

.row-gap-20 {
	row-gap: 20px;
}

.row-gap-12 {
	row-gap: 12px;
}

.row-gap-6 {
	row-gap: 6px;
}

.row-gap-4 {
	row-gap: 4px;
}

.gap-80 {
	gap: 80px;
}

.gap-60 {
	gap: 60px;
}

.gap-40 {
	gap: 40px;
}

.gap-30 {
	gap: 30px;
}

.gap-24 {
	gap: 24px;
}

.gap-20 {
	gap: 20px;
}

.gap-16 {
	gap: 16px;
}

.gap-12 {
	gap: 12px;
}

.gap-10 {
	gap: 10px;
}

.gap-8 {
	gap: 8px;
}

.gap-4 {
	gap: 4px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-upper {
	text-transform: uppercase;
}

.w-350 {
	width: 350px;
}

.w-120 {
	width: 120px;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.w-60 {
	width: 60px;
}

.h-60 {
	height: 60px;
}

.w-48 {
	width: 48px;
}

.h-48 {
	height: 48px;
}

.w-40 {
	width: 40px;
}

.h-40 {
	height: 40px;
}

.w-28 {
	width: 28px;
}

.h-28 {
	height: 28px;
}

.w-24 {
	width: 24px;
}

.h-24 {
	height: 24px;
}

.w-1 {
	width: 1px;
}

.h-120 {
	height: 120px;
}

.h-88 {
	height: 88px;
}

.h-80 {
	height: 80px;
}

.h-44 {
	height: 44px;
}

.bora-100 {
	border-radius: 100px;
}

.bora-50 {
	border-radius: 50%;
}

.bora-48 {
	border-radius: 48px;
}

.bora-40 {
	border-radius: 40px;
}

.bora-24 {
	border-radius: 24px;
}

.bora-20 {
	border-radius: 20px;
}

.bora-16 {
	border-radius: 16px;
}

.bora-12 {
	border-radius: 12px;
}

.bora-8 {
	border-radius: 8px;
}

.bora-4 {
	border-radius: 4px;
}

.border-blue-1px {
	border: 1px solid var(--blue);
}

.border-blue-2px {
	border: 2px solid var(--blue);
}

.border-grey-1px {
	border: 1px solid var(--grey);
}

.border-grey-2px {
	border: 2px solid var(--grey);
}

.border-white-2px {
	border: 2px solid var(--white);
}

.border-transparent {
	border: 1px solid transparent;
}

.border-none {
	border: none;
}

.border-line-1px {
	border: 1px solid var(--line);
}

.border-line {
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.2);
}

.line-x {
	width: 100%;
	height: 1px;
	background-color: var(--line);
}

.line-y {
	height: 100%;
	width: 1px;
	background-color: var(--line);
}

.outline-none {
	outline: none;
}

.display-none {
	display: none;
}

.display-block {
	display: block;
}

.display-inline-block {
	display: inline-block;
}

.display-inline-flex {
	display: inline-flex;
}

.hidden {
	visibility: hidden;
}

.overflow-hidden {
	overflow: hidden;
}

.hover-underline:hover {
	text-decoration: underline;
}

.text-underline {
	text-decoration: underline;
}

.pointer {
	cursor: pointer;
}

.hover-scale {
	transition: all ease 0.8s;
	cursor: pointer;
}
.hover-scale:hover {
	transform: scale(1.05);
}

.hover-button-black {
	transition: all ease 0.5s;
	cursor: pointer;
}
.hover-button-black:hover {
	background-color: var(--on-surface);
	color: white;
}

.hover-bg-white {
	transition: all ease 0.5s;
	cursor: pointer;
}
.hover-bg-white i {
	transition: all ease 0.5s;
}
.hover-bg-white:hover {
	background-color: var(--white);
	color: var(--on-surface);
}
.hover-bg-white:hover i {
	color: var(--on-surface);
}

.hover-bg-gradient {
	transition: all ease 0.5s;
	cursor: pointer;
}
.hover-bg-gradient:hover {
	background-color: var(--dark) !important;
}

.hover-bg-success {
	transition: all ease 0.5s;
	cursor: pointer;
}
.hover-bg-success:hover {
	background-color: var(--success);
}

.hover-text-blue {
	transition: all ease 0.3s;
	cursor: pointer;
}
.hover-text-blue:hover {
	color: var(--blue);
}

.hover-text-success {
	transition: all ease 0.3s;
	cursor: pointer;
}
.hover-text-success:hover {
	color: var(--success);
}

.hover-text-orange {
	transition: all ease 0.3s;
	cursor: pointer;
}
.hover-text-orange:hover {
	color: var(--orange);
}

.hover-border-white {
	transition: all ease 0.3s;
	cursor: pointer;
}
.hover-border-white:hover {
	border: 1px solid var(--white);
	opacity: 0.9;
}

.hover-opacity:hover {
	opacity: 0.9;
}

.hover-bg-blue {
	transition: all ease 0.3s;
	cursor: pointer;
}
.hover-bg-blue:hover {
	background-color: var(--blue);
	color: var(--white);
}

.hover-border-blue {
	transition: all ease 0.3s;
	cursor: pointer;
	border: 2px solid transparent;
}
.hover-border-blue:hover {
	background-color: var(--white);
	color: var(--blue);
	border: 2px solid var(--blue);
}

.hover-box-shadow {
	transition: all ease 0.3s;
}
.hover-box-shadow:hover {
	box-shadow: 1px 5px 20px 0px rgba(37, 82, 91, 0.2);
}

.box-shadow {
	box-shadow: 0px 0px 5px 0px rgba(28, 36, 51, 0.15);
}

.box-shadow-none:hover {
	box-shadow: none;
}

.icon-on-surface::before {
	color: var(--on-surface);
}

.icon-white::before {
	color: var(--white);
}

@media (max-width: 1169.99px) {
	.column-reverse-xl {
		flex-direction: column-reverse;
	}
}
/* Main CSS End */

/* Custom CSS Start*/
.list-social.style-two .item:hover {
	background-color: var(--on-surface);
}
.list-social.style-two .item:hover i::before {
	color: var(--white);
}

.header-menu {
	box-shadow: 0px 5px 25px rgba(58, 64, 67, 0.1);
	width: 100%;
}
.header-menu .menu-center-block .nav-item {
	padding: 0 12px;
	cursor: pointer;
	position: relative;
	z-index: 1;
}
.header-menu .menu-center-block .nav-item .sub-nav {
	position: absolute;
	width: 260px;
	left: -10px;
	top: 100px;
	padding-top: 4px;
	padding-bottom: 8px;
	background-color: #fff;
	z-index: 5;
	box-shadow: 0px 5px 25px rgba(58, 64, 67, 0.1);
	opacity: 0;
}
.header-menu .menu-center-block .nav-item .sub-nav .sub-nav-item {
	padding: 16px 20px;
}
.header-menu .menu-center-block .nav-item .sub-nav .sub-nav-item a {
	position: relative;
	transition: all ease 0.3s;
	padding-top: 16px;
	padding-bottom: 16px;
}
.header-menu .menu-center-block .nav-item .sub-nav .sub-nav-item a::before {
	content: '';
	position: absolute;
	left: 0;
	top: 51%;
	transform: translateY(-50%);
	width: 0;
	height: 2px;
	background-color: var(--blue);
	border-radius: 6px;
	transition: all ease 0.3s;
}
.header-menu .menu-center-block .nav-item .sub-nav .sub-nav-item:hover a {
	color: var(--blue);
	padding-left: 20px;
}
.header-menu .menu-center-block .nav-item .sub-nav .sub-nav-item:hover a::before {
	width: 12px;
}
.header-menu .menu-center-block .nav-item .sub-nav .sub-nav-item.active a {
	color: var(--blue);
	padding-left: 20px;
}
.header-menu .menu-center-block .nav-item .sub-nav .sub-nav-item.active a::before {
	width: 12px;
}
.header-menu .menu-center-block .nav-item:hover .nav-link {
	color: var(--blue);
}
.header-menu .menu-center-block .nav-item:hover .sub-nav {
	top: 80px;
	opacity: 1;
	visibility: visible;
	transition: all ease-in-out 0.3s;
}
.header-menu #menu-mobile-block {
	z-index: 100;
}
.header-menu #menu-mobile-block .sub-nav-mobile .sub-nav-item:first-child {
	border-top: 1px solid var(--line);
}
.header-menu #menu-mobile-block .sub-nav-mobile .sub-nav-item a {
	position: relative;
}
.header-menu #menu-mobile-block .sub-nav-mobile .sub-nav-item a::before {
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 1.2px;
	background: var(--blue);
}
.header-menu #menu-mobile-block .sub-nav-mobile .sub-nav-item:hover > a {
	color: var(--blue);
}
.header-menu #menu-mobile-block .sub-nav-mobile .sub-nav-item.active a {
	color: var(--blue);
	padding-left: 16px;
}
.header-menu #menu-mobile-block .sub-nav-mobile .sub-nav-item.active a::before {
	width: 10px;
}

#header {
	display: unset;
}

.header-menu {
	position: sticky;
	top: 0;
	z-index: 1000;
}

@media (max-width: 1169.99px) {
	.header-menu .menu-center-block .nav-item {
		padding: 0 8px;
	}
}

@media (max-width: 1023.99px) {
	.header-menu .menu-center-block {
		display: none;
	}
	.header-menu .menu-right-block .menu-humburger {
		display: block;
		padding-left: 24px;
	}
	.header-menu .menu-right-block .menu-humburger i {
		font-size: 24px;
	}
}
@media (max-width: 576px) {
	.header-menu .h-80 {
		height: 60px;
	}
	.header-menu .h-80 .menu-left-block .menu-logo {
		width: 120px;
	}
	.header-menu .h-80 .menu-right-block .icon-call,
	.header-menu .h-80 .menu-right-block .text {
		display: none;
	}
}

.header-menu #menu-mobile-block {
	position: relative;
}
.header-menu #menu-mobile-block .menu-mobile-main {
	transition: all ease-in-out 0.5s;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	max-height: 0;
	z-index: 10;
	background-color: #fff;
}
.header-menu
	#menu-mobile-block
	.menu-mobile-main
	.menu-nav-mobile
	.nav-item-mobile
	.sub-nav-mobile {
	transition: all ease-in-out 0.5s;
	overflow: hidden;
	max-height: 0;
}
.header-menu
	#menu-mobile-block
	.menu-mobile-main
	.menu-nav-mobile
	.nav-item-mobile
	.sub-nav-mobile.open {
	max-height: 280px;
}
.header-menu #menu-mobile-block.open {
	border-top: 1px solid var(--line);
}
.header-menu #menu-mobile-block.open .menu-mobile-main {
	max-height: 320px;
}

.slider-block {
	position: relative;
}
.slider-block .slider-main {
	position: relative;
}
.slider-block .slider-main .slider-item {
	position: relative;
	height: 1080px;
}
.slider-block .slider-main .slider-item .bg-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.slider-block .slider-main .slider-item .bg-img img {
	object-fit: cover;
}
.slider-block .slider-main .slider-item .container {
	position: relative;
	height: 100%;
	z-index: 2;
}
.slider-block .slider-main .slider-item .container .text-content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-right: 15px;
}
@media (max-width: 500.99px) {
	.slider-block .slider-main .slider-item .text-content br {
		display: none;
	}
}
.slider-block .slider-main .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	gap: 16px;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
}
.slider-block .slider-main .slick-dots li {
	position: relative;
	border: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.slider-block .slider-main .slick-dots li button {
	display: none;
}
.slider-block .slider-main .slick-dots li::after {
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid var(--secondary);
	transition: 0.5s;
}
.slider-block .slider-main .slick-dots li.slick-active {
	border: 1px solid var(--on-surface);
	background-color: #fff;
}
.slider-block .slider-main .slick-dots li.slick-active::after {
	background-color: var(--on-surface);
	border: 1px solid var(--on-surface);
}
@media (max-width: 2200.99px) {
	.slider-block .slider-main .slider-item {
		height: 940px;
	}
}
@media (max-width: 1919.99px) {
	.slider-block .slider-main .slider-item {
		height: 820px;
	}
}
@media (max-width: 1599.99px) {
	.slider-block .slider-main .slider-item {
		height: 670px;
	}
}
@media (max-width: 1169.99px) {
	.slider-block .slider-main .slider-item {
		height: 580px;
	}
}
@media (max-width: 767.99px) {
	.slider-block .slider-main .slider-item {
		height: 500px;
	}
}
@media (max-width: 575.99px) {
	.slider-block .slider-main .slider-item {
		height: 420px;
	}
	.slider-block .slider-main .slider-item .bg-img::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(255, 255, 255, 0.5);
		z-index: 1;
	}
	.slider-block .slider-main .slider-item .container .text-content {
		top: 46%;
	}
	.slider-block .slider-main .slick-dots {
		bottom: 20px;
	}
}
.slider-block .prev-arrow,
.slider-block .next-arrow {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	display: flex !important;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all ease 0.5s;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
}
.slider-block .prev-arrow:hover,
.slider-block .next-arrow:hover {
	background-color: rgba(0, 0, 0, 0.6);
}
.slider-block .prev-arrow {
	left: 20px;
}
.slider-block .next-arrow {
	right: 20px;
}
.slider-block:hover .prev-arrow,
.slider-block:hover .next-arrow {
	opacity: 1;
	visibility: visible;
}
.slider-block .prev-arrow.slick-disabled,
.slider-block .next-arrow.slick-disabled {
	display: none !important;
}
@media (max-width: 1023.99px) {
	.slider-block .prev-arrow,
	.slider-block .next-arrow {
		display: none !important;
	}
}

@keyframes moveY {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0px);
	}
}
@keyframes moveX {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(20px);
	}
	100% {
		transform: translateX(0px);
	}
}

.slider-sub {
	width: 100%;
	height: 400px;
	position: relative;
}
.slider-sub .bg-img {
	width: 100%;
	height: 100%;
}
.slider-sub .bg-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slider-sub .container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.slider-sub .container .heading-nav {
	background-color: #808792;
	border-radius: 36px;
	padding: 6px 16px;
	display: inline-flex;
	align-items: center;
}
.slider-sub .container .heading-nav i {
	margin-top: 2px;
	font-size: 10px;
}
.slider-sub .container .text-nav {
	margin-top: 75px;
	width: 50%;
}
@media (max-width: 767.99px) {
	.slider-sub {
		height: 300px;
	}
	.slider-sub .container .text-nav {
		margin-top: 50px;
		width: 75%;
	}
}

.service-item .service-item-main i.ph-caret-right {
	margin-top: 2px;
}

.service-block .service-item {
	position: relative;
	overflow: hidden;
	height: 100%;
}
.service-block .service-item .service-item-main .heading i.ph-arrow-up-right {
	position: absolute;
	top: 32px;
	right: -30px;
	visibility: hidden;
	cursor: pointer;
	transition: all ease 0.4s;
}
.service-block .service-item .service-item-main .number {
	opacity: 0.2;
	transition: all ease 0.4s;
}
.service-block .service-item .service-item-main .explore-block i {
	transition: all ease 0.3s;
}
.service-block .service-item .service-item-main .explore-block:hover i {
	margin-left: 4px;
}
.service-block .service-item:hover .service-item-main .heading7,
.service-block .service-item:hover .service-item-main .heading6 {
	color: var(--blue);
}
.service-block .service-item:hover .service-item-main .heading i.ph-arrow-up-right {
	right: 32px;
	visibility: visible;
}
.service-block .service-item:hover .service-item-main .number {
	opacity: 1;
}

@media (max-width: 1169.99px) {
	.service-block-two .col-xl-8 .pl-40 {
		padding-left: 0;
	}
}

.blog-list .container > .row > div .blog-item {
	transition: all ease 0.5s;
	cursor: pointer;
}
.blog-list .container > .row > div .blog-item .bg-img img {
	transition: all ease 0.5s;
	object-fit: cover;
}
.blog-list .container > .row > div .blog-item .heading6,
.blog-list .container > .row > div .blog-item .read {
	transition: all ease 0.5s;
}
.blog-list .container > .row > div .blog-item:hover .bg-img img {
	transform: scale(1.08);
	transition: all ease 0.5s;
}
.blog-list .container > .row > div .blog-item:hover .heading6 {
	color: var(--blue);
	transition: all ease 0.5s;
}
.blog-list .container > .row > div .blog-item:hover .read {
	text-decoration: underline;
}
@media (max-width: 767.99px) {
	.blog-list .container > .row > div .blog-item .body3 {
		padding-bottom: 6px;
	}
}
.blog-list .container > .row > div > .list-nav .nav-item {
	cursor: pointer;
	transition: all ease 0.3s;
}
.blog-list .container > .row > div > .list-nav .nav-item.active,
.blog-list .container > .row > div > .list-nav .nav-item:hover {
	background-color: var(--blue);
	border: 1px solid var(--blue);
	color: var(--white);
}
.blog-list .container > .row > .list-nav .nav-item {
	cursor: pointer;
	transition: all ease 0.3s;
}
.blog-list .container > .row > .list-nav .nav-item.active,
.blog-list .container > .row > .list-nav .nav-item:hover {
	background-color: var(--blue);
	border: 1px solid var(--blue);
	color: var(--white);
}
.blog-list .container > .row .search-block {
	position: relative;
	height: 50px;
}
.blog-list .container > .row .search-block input {
	height: 100%;
	padding-left: 16px;
	padding-right: 52px;
	color: var(--secondary);
	border: 1px solid transparent;
	outline: none;
}
.blog-list .container > .row .search-block input:focus {
	border: 1px solid var(--blue);
}
.blog-list .container > .row .search-block i {
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 0 8px 8px 0;
	font-size: 20px;
	color: var(--secondary);
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all ease 0.3s;
}
.blog-list .container > .row .search-block i:hover {
	background-color: var(--blue);
	color: var(--white);
}
.blog-list .container > .row .cate-block .list-nav .nav-item.active,
.blog-list .container > .row .cate-block .list-nav .nav-item:hover {
	background-color: var(--surface);
	color: var(--on-surface);
}
.blog-list .container > .row .cate-block .list-nav .nav-item.active i,
.blog-list .container > .row .cate-block .list-nav .nav-item:hover i {
	visibility: visible;
}
.blog-list .container > .row .recent-post-block .recent-post-item .item-img img {
	width: 80px;
	height: 80px;
	border-radius: 12px;
	object-fit: cover;
}
.blog-list .container > .row .recent-post-block .recent-post-item .item-title {
	transition: all ease 0.5s;
}
.blog-list .container > .row .recent-post-block .recent-post-item:hover .item-title {
	color: var(--blue);
}
@media (max-width: 991.99px) {
	.blog-list .container > .row .pl-55 {
		padding-left: 15px;
	}
}

.blog-item .blog-item-main {
	cursor: pointer;
	border-radius: 16px;
	display: block;
	height: 100%;
	background-color: #fff;
	overflow: hidden;
	border: 1px solid var(--line);
	box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.15);
}
.blog-item .blog-item-main .bg-img img {
	transition: all ease 0.5s;
	object-fit: cover;
}
.blog-item .blog-item-main .heading6 {
	transition: all ease 0.5s;
}
.blog-item .blog-item-main:hover .bg-img img {
	transform: scale(1.05);
	transition: all ease 0.5s;
}
.blog-item .blog-item-main:hover .heading6 {
	color: var(--blue);
	transition: all ease 0.5s;
}

@media (max-width: 1169.99px) and (min-width: 576px) {
	.col-lg-show {
		display: block;
	}
}

.blog-list.style-detail li {
	list-style: disc;
}
.blog-list.style-detail .blog-paragraph .paragraph-content .review {
	border-left: 1px solid var(--blue);
}
.blog-list.style-detail .blog-paragraph .paragraph-content .review .body2 {
	font-style: italic;
}
.blog-list.style-detail .blog-paragraph .paragraph-content .review ul {
	padding-left: 20px;
}
.blog-list.style-detail .blog-paragraph .paragraph-content .review ul li {
	text-transform: uppercase;
}
.blog-list.style-detail .blog-paragraph .paragraph-content .list-li {
	padding-left: 12px;
	padding-right: 12px;
}
.blog-list.style-detail .blog-paragraph .paragraph-content .list-li .body3 i {
	font-size: 18px;
	margin-top: 6px;
}
.blog-list.style-detail .blog-more-infor .infor-above .social-media i {
	background-color: var(--surface);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all ease 0.3s;
}
.blog-list.style-detail .blog-more-infor .infor-above .social-media i::before {
	transition: all ease 0.3s;
	color: var(--on-surface);
}
.blog-list.style-detail .blog-more-infor .infor-above .social-media i:hover {
	background-color: var(--blue);
}
.blog-list.style-detail .blog-more-infor .infor-above .social-media i:hover::before {
	color: var(--white);
}
.blog-list.style-detail .blog-more-infor .infor-above .social-media i.icon-twitter {
	margin-left: 1px;
	margin-top: 2px;
}
.blog-list.style-detail .blog-more-infor .infor-below .prev-block .heading7,
.blog-list.style-detail .blog-more-infor .infor-below .next-block .heading7 {
	transition: all ease 0.3s;
}
.blog-list.style-detail .blog-more-infor .infor-below .prev-block:hover .heading7,
.blog-list.style-detail .blog-more-infor .infor-below .next-block:hover .heading7 {
	color: var(--blue);
}
.blog-list.style-detail .blog-form-contact input,
.blog-list.style-detail .blog-form-contact textarea {
	border: 1px solid transparent;
	outline: none;
}
.blog-list.style-detail .blog-form-contact input:focus,
.blog-list.style-detail .blog-form-contact textarea:focus {
	border: 1px solid var(--blue);
}
@media (max-width: 1169.99px) {
	.blog-list.style-detail .infor-above {
		row-gap: 20px;
		flex-direction: column;
		align-items: flex-start;
	}
	.blog-list.style-detail .infor-below {
		flex-direction: column;
		align-items: flex-start;
	}
	.blog-list.style-detail .infor-below .next-block {
		margin-top: 20px;
	}
	.blog-list.style-detail .infor-below .next-block a {
		text-align: left;
	}
}
@media (max-width: 991.99px) {
	.blog-list.style-detail .container > .row {
		flex-direction: column-reverse;
	}
	.blog-list.style-detail .container > .row .pr-40 {
		padding-right: 15px;
	}
}
@media (max-width: 575.99px) {
	.blog-list.style-detail .infor-above .share-block {
		flex-direction: column;
		align-items: flex-start;
	}
}

.payment-gateway-one {
	position: relative;
}
.payment-gateway-one > .bg-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	bottom: 0;
}
.payment-gateway-one > .bg-img img {
	object-fit: cover;
}
.payment-gateway-one .row {
	justify-content: right;
}
.payment-gateway-one .row .col-12.col-xl-6 .payment-infor {
	padding-top: 150px;
	padding-bottom: 150px;
	padding-left: 80px;
	gap: 32px;
}
.payment-gateway-one .row .col-12.col-xl-6 .payment-infor .heading .bg-img {
	width: 120px;
}
.payment-gateway-one .button-block {
	position: relative;
}
.payment-gateway-one .button-block .button-share:nth-child(2) {
	z-index: 1;
}
.payment-gateway-one .button-block > img {
	position: absolute;
	left: 376px;
	z-index: 0;
}
@media (max-width: 1169.99px) {
	.payment-gateway-one > .bg-img {
		width: 100%;
		position: relative;
	}
	.payment-gateway-one .row .col-12.col-xl-6 .payment-infor {
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 0px;
	}
}
@media (max-width: 767.99px) {
	.payment-gateway-one .row .col-12.col-xl-6 .payment-infor {
		padding-top: 20px;
		padding-bottom: 32px;
		gap: 16px;
	}
	.payment-gateway-one .button-block .button-share.pt-14.pb-14 {
		padding: 11px 24px;
	}
	.payment-gateway-one .button-block img {
		left: 300px;
	}
}
@media (max-width: 399.99px) {
	.payment-gateway-one .button-block {
		flex-direction: column;
		align-items: flex-start;
	}
	.payment-gateway-one .button-block img {
		left: 144px;
		top: 36px;
	}
}

.financial-assessment-block .nav-infor .list-nav {
	display: inline-flex;
	border-bottom: 2px solid #e5e5e5;
}
.financial-assessment-block .nav-infor .list-nav .nav-item {
	position: relative;
	cursor: pointer;
}
.financial-assessment-block .nav-infor .list-nav .nav-item::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0;
	height: 2px;
	background-color: var(--blue);
	transition: all ease 0.3s;
}
.financial-assessment-block .nav-infor .list-nav .nav-item:hover::after {
	width: 100%;
}
.financial-assessment-block .nav-infor .list-nav .nav-item.active::after {
	width: 100%;
}
.financial-assessment-block .nav-infor .description.hide {
	display: none;
}
.financial-assessment-block .nav-infor .description.show {
	display: block;
	animation: show ease 0.3s !important;
}
@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.financial-assessment-block .button-block .button-share:last-child:hover {
	border: 2px solid var(--blue);
}
@media (max-width: 1169.99px) {
	.financial-assessment-block .row {
		row-gap: 32px;
		align-items: flex-start;
		flex-direction: column;
	}
	.financial-assessment-block .row .flex-column {
		gap: 24px;
	}
	.financial-assessment-block .row .flex-column .mt-40 {
		margin-top: 0px;
	}
	.financial-assessment-block .row .flex-column .ml-40 {
		margin-left: 0;
	}
}
@media (max-width: 575.99px) {
	.financial-assessment-block .row {
		row-gap: 16px;
	}
	.financial-assessment-block .row .flex-column {
		gap: 12px;
	}
}
@media (max-width: 459.99px) {
	.financial-assessment-block .button-block {
		flex-direction: column;
		align-items: flex-start;
	}
}

.style-two .count-number-block .container {
	border-top: 1px solid var(--line);
	padding-top: 40px;
	padding-bottom: 40px;
}
@media (max-width: 575.99px) {
	.style-two .count-number-block {
		margin-top: 32px;
	}
	.style-two .count-number-block .container {
		padding-top: 24px;
		padding-bottom: 12px;
	}
}

@media (max-width: 767.99px) {
	.count-number-block .count-block .counter,
	.count-number-block .count-block .heading3 {
		font-size: 36px;
		line-height: 44px;
	}
}

@keyframes showItem {
	from {
		transform: scale(0.2);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

.about-home-five .container .row > div:last-child {
	position: relative;
}
.about-home-five .container .row > div:last-child .bg-img {
	position: relative;
	z-index: 1;
}
.about-home-five .container .row > div:last-child .bg-img img {
	z-index: 1;
}
.about-home-five .container .row > div:last-child .sub-img img:first-child {
	position: absolute;
	left: 78px;
	bottom: 54px;
	width: 126px;
	height: 126px;
	animation: moveleft 5s ease infinite;
}
.about-home-five .container .row > div:last-child .sub-img img:last-child {
	position: absolute;
	right: 60px;
	bottom: -20px;
	width: 208px;
	height: 208px;
	z-index: 2;
	animation: moveright 5s ease infinite;
}
@media (max-width: 991.99px) {
	.about-home-five .container .row {
		justify-content: center;
	}
}
@media (max-width: 575.99px) {
	.about-home-five .container .row > div:last-child .sub-img img:first-child {
		width: 80px;
		height: 80px;
	}
	.about-home-five .container .row > div:last-child .sub-img img:last-child {
		width: 120px;
		height: 120px;
	}
}

@keyframes moveleft {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(-10px, 20px);
	}
	100% {
		transform: translate(0px);
	}
}
@keyframes moveright {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(10px, -20px);
	}
	100% {
		transform: translate(0px);
	}
}

@keyframes earth {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.form-contact .row .list-social .item:nth-child(4) i,
.form-contact .row .list-social .item:last-child i {
	margin-left: 2px;
}
@media (max-width: 567.99px) {
	.form-contact .row .list-social .item {
		width: 40px;
		height: 40px;
	}
}
.form-contact .row .list-more-infor .item .line-y {
	height: 28px;
}
.form-contact .row .list-more-infor .item:nth-child(3) .text-button {
	text-transform: none;
}
.form-contact .row .form-block input,
.form-contact .row .form-block select,
.form-contact .row .form-block textarea {
	border: 1px solid transparent;
	outline: none;
}
.form-contact .row .form-block input:focus,
.form-contact .row .form-block select:focus,
.form-contact .row .form-block textarea:focus {
	border: 1px solid var(--blue);
}
.form-contact .row .form-block select {
	-webkit-appearance: none;
}
.form-contact .row .form-block .col-12 {
	position: relative;
}
.form-contact .row .form-block .col-12 input,
.form-contact .row .form-block .col-12 select {
	padding-top: 12px;
	padding-bottom: 12px;
}
.form-contact .row .form-block .col-12 i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 24px;
}
.form-contact .row .form-block.style-one button {
	border: 2px solid transparent;
	outline: none;
	transition: 0.3s;
}
.form-contact .row .form-block.style-one button:hover {
	background-color: #fff;
	border: 2px solid var(--blue);
	color: var(--blue);
}
.form-contact.style-two .container > .row > div:last-child {
	border-radius: 16px;
	padding: 40px 44px;
	box-shadow: 0px 1px 25px 0px rgba(54, 95, 104, 0.1);
}
.form-contact.style-two .heading .title {
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	color: var(--blue);
}
.form-contact.style-two button {
	border: none;
	outline: none;
	transition: 0.3s;
}
.form-contact.style-two button:hover {
	background-color: var(--blue);
}
.form-contact.style-two .map-block iframe {
	width: 100%;
	height: 512px;
	margin-bottom: -6px;
}
@media (max-width: 1169.99px) {
	.form-contact .row .col-12.col-xl-6 {
		padding-left: 15px;
	}
}

.our-team-block .container .list-member .col-12 .bg-img {
	position: relative;
	overflow: hidden;
	border-radius: 20px;
	cursor: pointer;
}
.our-team-block .container .list-member .col-12 .bg-img img {
	transition: all ease 0.5s;
}
.our-team-block .container .list-member .col-12 .bg-img .list-social {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	position: absolute;
	top: 60%;
	transform: translateY(-50%);
	right: -80px;
	border-radius: 8px;
	padding: 12px 8px;
	transition: all ease-in-out 0.5s;
}
.our-team-block .container .list-member .col-12 .bg-img .list-social a {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}
.our-team-block .container .list-member .col-12 .bg-img .list-social a i {
	margin-left: 2px;
}
.our-team-block .container .list-member .col-12 .bg-img .list-social a i::before {
	color: var(--on-surface);
}
.our-team-block .container .list-member .col-12 .bg-img .list-social a:hover {
	background-color: var(--blue);
}
.our-team-block .container .list-member .col-12 .bg-img .list-social a:hover i::before {
	color: var(--white);
}
.our-team-block .container .list-member .col-12 .infor .name {
	transition: all ease-in-out 0.3s;
}
.our-team-block .container .list-member .col-12:hover {
	cursor: pointer;
}
.our-team-block .container .list-member .col-12:hover .bg-img img {
	transform: scale(1.1);
}
.our-team-block .container .list-member .col-12:hover .list-social {
	transition: all ease-in-out 0.5s;
	right: 20px;
}
.our-team-block .container .list-member .col-12:hover .infor .name {
	color: var(--blue);
}

.question-item .question-item-main svg {
	transform: rotate(0);
	transition: all ease 0.5s;
}
@media (max-width: 575.99px) {
	.question-item .question-item-main svg {
		font-size: 16px;
	}
}
.question-item .content-question {
	transition: all ease-in-out 0.5s;
	max-height: 0;
	overflow: hidden;
}
.question-item .content-question .border-line {
	background-color: rgba(231, 231, 231, 0.8);
}

.question-item.open .content-question {
	max-height: 150px;
}

.item-filter.hide {
	display: none;
}

.item-filter.show {
	display: block;
	animation: showItem ease-in-out 0.5s;
}

.row.blog-item.item-filter.show {
	display: flex;
	animation: showItem ease-in-out 0.5s;
}

.partner-five-col {
	overflow: hidden;
}
.partner-five-col .list {
	display: flex;
	width: 3120px;
	overflow: hidden;
	animation: scroll 30s linear infinite;
}
.partner-five-col .list .bg-img {
	margin: 0 60px;
}

.style-two .partner-five-col {
	background-color: #173363;
	margin-top: 0;
}


@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-1560px);
	}
}

.scroll-to-top-btn {
	background-color: var(--blue);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0px;
	right: 30px;
	transition: all ease 0.3s;
	box-shadow: 0px 5px 25px rgba(58, 64, 67, 0.2);
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
}
.scroll-to-top-btn i {
	color: var(--white);
	transition: all ease 0.3s;
}
.scroll-to-top-btn:hover {
	background-color: var(--on-surface);
}

.scroll-to-top-btn.active {
	bottom: 30px;
	opacity: 1;
	visibility: visible;
}


.cta-three .container,
.cta-three .row {
	position: relative;
	height: 100%;
}
.cta-three .button-block {
	padding-bottom: 216px;
	z-index: 5;
}
.cta-three .bg-img {
	position: absolute;
	bottom: 0;
}
.cta-three .bg-img img {
	display: block;
}
@media (max-width: 575.99px) {
	.cta-three .pt-80 {
		padding-top: 40px;
	}
	.cta-three .button-block {
		padding-bottom: 140px;
	}
}
@media (max-width: 399.99px) {
	.cta-three .button-block {
		padding-bottom: 120px;
	}
}

#footer .footer-block .row {
	align-items: flex-start;
}
#footer .footer-block .row .footer-logo {
	width: 200px;
}
#footer .footer-block .row .list-social .item {
	width: 40px;
	height: 40px;
}
#footer .footer-block .row .list-social .item i {
	font-size: 14px;
	margin-left: 2px;
}
#footer .footer-block .row .company-contact .send-block {
	height: 46px;
}
#footer .footer-block .row .company-contact .send-block input {
	height: 100%;
	width: calc(100% - 46px);
	padding: 0 12px;
	border: 1px solid transparent;
	outline: none;
	border-radius: 8px 0 0 8px;
}
#footer .footer-block .row .company-contact .send-block input:focus {
	border: 1px solid var(--blue);
}
#footer .footer-block .row .company-contact .send-block button {
	height: 100%;
	width: 46px;
	border: 1px solid transparent;
	outline: none;
	background-color: var(--blue);
	border-radius: 0 8px 8px 0;
}
#footer .footer-block .row .company-contact .send-block button:hover {
	background-color: #4d67fa;
}
#footer .style-two .footer-block {
	background-color: #173363;
}


@media (max-width: 1023.99px) {
	#footer .footer-block .row .col-3:first-child {
		max-width: 35%;
		flex: 0 0 35%;
	}
	#footer .footer-block .row .col-6 {
		max-width: 55%;
		flex: 0 0 55%;
	}
	#footer .footer-block .row .col-6 .footer-navigate {
		gap: 0;
		justify-content: space-between;
	}
	#footer .footer-block .row .col-3:last-child {
		margin-top: 30px;
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@media (max-width: 767.99px) {
	#footer .footer-block .row .col-3:first-child {
		flex: 0 0 80%;
		max-width: 80%;
	}
	#footer .footer-block .row .col-6 {
		margin-top: 30px;
		flex: 0 0 100%;
		max-width: 100%;
	}
	#footer .footer-block .row .col-3:last-child {
		flex: 0 0 80%;
		max-width: 80%;
	}
	#footer .footer-block .footer-bottom {
		flex-direction: column-reverse;
		gap: 8px;
	}
}
@media (max-width: 575.99px) {
	#footer .footer-block .row .col-3:first-child {
		flex: 0 0 100%;
		max-width: 100%;
	}
	#footer .footer-block .row .col-6 {
		margin-top: 30px;
		flex: 0 0 100%;
		max-width: 100%;
	}
	#footer .footer-block .row .col-6 .footer-navigate {
		flex-wrap: wrap;
		gap: 30px;
	}
	#footer .footer-block .row .col-6 .footer-nav-item {
		width: 100%;
	}
	#footer .footer-block .row .col-3:last-child {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (max-width: 767.99px) {
	html,
	body {
		font-size: 14px;
		line-height: 22px;
	}
	.heading2 {
		font-size: 28px;
		line-height: 36px;
	}
	.heading3 {
		font-size: 24px;
		line-height: 32px;
	}
	.heading4 {
		font-size: 22px;
		line-height: 30px;
	}
	.heading5 {
		font-size: 20px;
		line-height: 26px;
	}
	.heading6 {
		font-size: 18px;
		line-height: 20px;
	}
	.heading7 {
		font-size: 18px;
		line-height: 20px;
	}
	.text-button {
		font-size: 14px;
		line-height: 20px;
	}
	.text-button-small {
		font-size: 12px;
		line-height: 18px;
	}
	.body1 {
		font-size: 18px;
		line-height: 26px;
	}
	.body2 {
		font-size: 16px;
		line-height: 24px;
	}
	.body3 {
		font-size: 14px;
		line-height: 20px;
	}
	.caption1 {
		font-size: 12px;
		line-height: 16px;
	}
	.button-share {
		padding: 10px 24px;
	}
	.mt-100 {
		margin-top: 60px;
	}
	.pt-100 {
		padding-top: 60px;
	}
	.pt-80 {
		padding-top: 40px;
	}
	.pb-80 {
		padding-bottom: 40px;
	}
	.pt-60 {
		padding-top: 32px;
	}
	.pb-60 {
		padding-bottom: 32px;
	}
	.pt-32 {
		padding-top: 20px;
	}
	.pb-32 {
		padding-bottom: 20px;
	}
	.pt-16 {
		padding-top: 12px;
	}
	.pb-16 {
		padding-bottom: 12px;
	}
	.pb-100 {
		padding-bottom: 60px;
	}
	.mb-100 {
		margin-bottom: 60px;
	}
	.mt-80 {
		margin-top: 28px;
	}
	.mt-60 {
		margin-top: 24px;
	}
	.mt-40 {
		margin-top: 20px;
	}
	.mt-32 {
		margin-top: 16px;
	}
	.mt-24 {
		margin-top: 16px;
	}
	.mt-20 {
		margin-top: 14px;
	}
	.mt-16 {
		margin-top: 12px;
	}
	.mt-12 {
		margin-top: 6px;
	}
	.mt-8 {
		margin-top: 6px;
	}
	.row-gap-60 {
		row-gap: 30px;
	}
	.row-gap-40 {
		row-gap: 20px;
	}
	.row-gap-32 {
		row-gap: 16px;
	}
	.row-gap-24 {
		row-gap: 12px;
	}
	.row-gap-20 {
		row-gap: 10px;
	}
	.gap-30 {
		gap: 20px;
	}
	.gap-24 {
		gap: 16px;
	}
	.gap-20 {
		gap: 14px;
	}
	.gap-16 {
		gap: 12px;
	}
	.gap-12 {
		gap: 8px;
	}
	.p-40 {
		padding: 30px;
	}
	.p-32 {
		padding: 24px;
	}
	.p-24 {
		padding: 16px;
	}
	i.fs-60 {
		font-size: 44px;
	}
	i.fs-52 {
		font-size: 38px;
	}
	i.fs-48 {
		font-size: 36px;
	}
}
/* Custom CSS End */